In [26]:
import sys

print(sys.version)

3.8.8 (default, Apr 13 2021, 12:59:45)
[Clang 10.0.0 ]

# 1. 시퀀스 자료형

### - 여러 개의 원소를 가진 자료형을 말한다.
### - 문자열, 리스트, 튜플 등이 있다.

## 컬렉션 모듈에 시퀀스 클래스에 대한 추상 클래스가 있다.

In [27]:
import collections as cols

In [28]:
for i in dir(cols) :
    print(i) if not i.startswith("_") else _

ChainMap
Counter
OrderedDict
UserDict
UserList
UserString
abc
defaultdict
deque
namedtuple

### 추상 클래스를 상속했다면 아래의 두 메소드를 반드시 구현해야 한다.

In [29]:
cols.abc.Sequence.__abstractmethods__

frozenset({'__getitem__', '__len__'})

## 내장 클래스가 추상클래스를 구현했는지 확인

- 상속관계가 성립하는지 확인한다.

In [30]:
issubclass(str, cols.abc.Sequence)

True

In [31]:
s = cols.UserString("가을")

In [32]:
s

'가을'

In [33]:
issubclass(list, cols.abc.Sequence)

True

In [34]:
l = cols.UserList([1,2,3])

In [35]:
l

[1, 2, 3]

In [36]:
issubclass(tuple, cols.abc.Sequence)

True

In [37]:
d = cols.UserDict([[1,3],[2,3]])

In [38]:
d

{1: 3, 2: 3}

##  문자열 리터럴 표기법

- 문자열은 따옴표 사이에 들어가는는 유니코드 :str 클래스
- 바이트 문자열도 따옴표 사이에 들어가지만 보통 아스키코드 문자들이 들어가고 따옴표 앞에 b를 붙임 :  bytes 클래스

In [39]:
"문자열"

'문자열'

In [40]:
b'abc'

b'abc'

In [41]:
type("문자열"), type(b'abc')

(str, bytes)

### 문자처리 함수

- 문자를 숫자로 변환하거나 숫자를 문자로 변환
- 실제 파이썬은 모든 것을 문자열로 처리하므로 별도의 문자 자료형은 없다.

In [42]:
ord("a")

97

In [43]:
chr(97)

'a'

## 표준입력 처리

- 키보드로 입력을 받아서 처리하는 함수 : input

In [44]:
s = input(" 숫자를 입력하세요 ")

 숫자를 입력하세요 5

In [45]:
type(s)

str

In [46]:
i = int(input(" 숫자를 입력하세요 "))

 숫자를 입력하세요 5

In [47]:
type(i)

int

### 두 수를 입력해서 곱하시요

In [48]:
%%writefile input.py

if __name__ == "__main__" : 
    
    i1 = int(input(" 첫번째 숫자를 입력하세요 "))
    i2 = int(input(" 두번째 숫자를 입력하세요 "))
    print("-" * 50)
#    for i in range(i1,i2) :
    i = i1 * i2
    print(i)

Overwriting input.py

In [49]:
%run input.py

 첫번째 숫자를 입력하세요 5
 두번째 숫자를 입력하세요 5
--------------------------------------------------
25

## 파이썬 모듈 이해하기

### - 다양한 함수와 클래스를 모듈 단위로 관리한다.

- 파이썬에는 메인 함수나 메소드가 존재하지 않는다.
- 대신 모듈을 실행하면 이름을 __main__ 으로 바꾼다.
- import 하는 모듈의 이름은 변경되지 않는다

### 현재 모듈 내에 가진 변수 등을 확인한다.

In [50]:
for i in dir() :
    print(i) if not i.startswith("_") else _

In
Out
b
cols
d
exit
get_ipython
i
i1
i2
l
quit
s
sys

### 모듈의 이름을 관리하는 속성

In [51]:
__name__

'__main__'

### 다른 모듈을 가져온 후에 모듈의 이름을 확인한다.

In [52]:
import collections
if __name__ =="__main__" :
    print(" 모듈이 실행될 때 메인으로 처리할 로직이 들어감 ")
    print(f"임포트한 모듈 이름은 {collections.__name__}")

 모듈이 실행될 때 메인으로 처리할 로직이 들어감
임포트한 모듈 이름은 collections

## 유니코드 문자열과 바이트 문자열 구분하기

- 텍스트는 인간이 인식하는 문자열이므로 여러 바이트로 된 문자열을 사용 : 유니코드
- 컴퓨터는 기본 한 바이트 문자열을 사용 : ascii
- 문자열으 변경 불가한 자료형이다.

In [53]:
s = "강아지"

In [54]:
len(s)

3

In [55]:
s.encode()

b'\xea\xb0\x95\xec\x95\x84\xec\xa7\x80'

In [56]:
len(s.encode())

9

In [57]:
b"\xea\xb0\x95".decode()

'강'

### 바이트 문자열

- bytes 클래스나 b"" 리터럴 표기법으로 생성
- 유니코드 문자열을 암호화해서 생성 가능

In [58]:
bt = bytes("ABC".encode())

In [59]:
bt

b'ABC'

In [60]:
isinstance(b"abc", bytes)

True

### 변경가능한 바이트 문자열 처리
- 하나의 배열로 처리
- 값을 변경할 때는 숫자로 넣어서 처리

In [61]:
ba = bytearray(b"abce")

In [62]:
ba

bytearray(b'abce')

In [63]:
ord('d')

100

In [64]:
ba[3] = 100

In [65]:
ba

bytearray(b'abcd')

In [66]:
chr(ba[0])

'a'

## repr 함수 이해하기

- 즉시 실행이 가능한 표현으로 처리
- 보통 출력문은 str로 처리한 문자열
- repr로 처리하면 인터프리터 실행화면에 보여주는 결과를 보여준다
   ==> 문자열로 전달할 경우 실행창에 문자열로 추가 표시

In [67]:
a = repr("a = 100")

In [68]:
a

"'a = 100'"

In [69]:
eval(a)

'a = 100'

In [70]:
b = repr(100)

In [71]:
b

'100'

In [72]:
eval(b)

100

In [73]:
str(a)

"'a = 100'"

In [74]:
str(b)

'100'

## 리스트, 튜플 리터럴 표기법

- 리스트와 튜플은 원소들이 동일한 자료형은 뭘까? ==> object

In [75]:
[1,2,3]

[1, 2, 3]

In [76]:
(1,2,3)

(1, 2, 3)

In [77]:
type([1,2,3]), type((1,2,3))

(list, tuple)

### 문자열 생성자 표기법

In [78]:
str("문자열")

'문자열'

### 문자열은 바이트 문자열로 변환

In [79]:
try :
    bytes('abc')
except Exception as e :
    print(e)

string argument without an encoding

In [80]:
bytes('abc'.encode())

b'abc'

In [81]:
bytes(b'abc')

b'abc'

### 리스트 생성자 표기법 : 숫자

In [82]:
list([1,2,3])

[1, 2, 3]

### 리스트 생성자 표기법 : 문자열과 바이트 문자열

In [83]:
list('abc')

['a', 'b', 'c']

In [84]:
list(b'abc')

[97, 98, 99]

### 튜플 생성자 표기법

In [85]:
tuple('abc')

('a', 'b', 'c')

In [86]:
tuple(b'abc')

(97, 98, 99)

## 연산자 사용하기

- 문자열이나 리스트 등에서 일부 연산자를 사용해서 처리가능
- + , *  연산자 가능

### 두 개의 시퀀스를 결합

In [87]:
"hell" +"o"

'hello'

In [88]:
[1,2,3] + [4]

[1, 2, 3, 4]

In [89]:
### 원소의 개수를 확대

In [90]:
"_" * 30

'______________________________'

In [91]:
[13] * 10

[13, 13, 13, 13, 13, 13, 13, 13, 13, 13]

## 시퀀스 원소 조회하기

- 대괄호 연산 내에 인덱스를 넣어 조회
- 특정 범위도 조회가 가능

### 하나의 정수값으로 조회하기

In [92]:
st = "시퀀스문장열조회하기"

In [93]:
len(st)

10

In [94]:
st[0]

'시'

In [95]:
st[len(st) -1]

'기'

### 음수로 조회하기

- 반대 방향으로 원소 조회

In [96]:
st[-1]

'기'

In [97]:
st[-1 * len(st)]

'시'

### 여러 원소 조회하기

- 슬라이스라고 부른다.

In [98]:
sl = slice(2,5)

In [99]:
st[sl]

'스문장'

In [100]:
st[ : ]

'시퀀스문장열조회하기'

In [101]:
st[ : 100]

'시퀀스문장열조회하기'

### 간격을 주고 조회하기

In [102]:
st[: :2]

'시스장조하'

## 객체 주소 및 원소 비교하기

In [103]:
numbers1= [1, 2, 3]; numbers2 = [1, 2, 3]

In [104]:
numbers1 is numbers2

False

In [105]:
id(numbers1), id(numbers2)

(140605654286848, 140605653098880)

In [106]:
numbers1 == numbers2

True

In [107]:
class Some:
    def __eq__(self, other):
        #print(other) # self, other관계를 증명하면 됩니다.
        return True

In [108]:
o1 = Some(); o2 = Some()

In [109]:
o1 is o2

False

In [110]:
print(o1 == 'string')
print(o1 == 123)

True
True

## 복사 알아보기

- 복사는 기본 객체를 전부 다른 객체로 반드는 것이다.
- 변수를 다른 변수에 할당하는 것은 복사가 아니라 별칭을 하나 더 만드는 것이다.

- 깊은 복사 : 리스트 내부에 리스트가 있을 경우에도 전부 새로운 객체로 복사
- 얇은 복사 : 리스트 내부에 리스트가 있는 경우에 기존 값으로 복사

### 별칭 만들기
- 동일한 객체의 주소를 가진 변수가 하나 더 만들어진다.

In [111]:
ll = [[1],[2]]

In [112]:
ll_a = ll

In [113]:
id(ll_a); id(ll)

140605656703488

In [114]:
id(ll_a) == id(ll)

True

### 리스트에 리스트가 원소로 포함된 경우 

- 복사하면 내부 리스트가 새로운 객체로 만들어지지 않아서 값을 변경하면 원본도 변경

In [115]:
ll_cp = ll.copy()

In [116]:
ll[0][0] = 100

In [117]:
ll

[[100], [2]]

In [118]:
ll_cp

[[100], [2]]

### 깊은 복사는 별도의 모듈로 제공

- deepcopy 함수로 리스트 내의 리스트도 전부 복사해서 새로운 객체를 만들어야 준다

In [119]:
import copy

In [120]:
ll_cp_ = copy.deepcopy(ll)

In [121]:
ll_cp_

[[100], [2]]

In [122]:
ll_cp_[0][0] = 999

In [123]:
ll_cp_

[[999], [2]]

In [124]:
ll

[[100], [2]]

## 빈문자열과 빈리스트 처리

- 조건식을 처리할 때 빈 문자열 등은 거짓으로 판단한다.
- 숫자일 경우 0은 거짓으로 판단한다.

In [125]:
bbs = ""; bbl =[]

In [126]:
print(type(bbs)); print(type(bbl))

<class 'str'>
<class 'list'>

In [127]:
if bbs :
    print(" True ")
else :
    print(" False ")

 False

In [128]:
bool(bbl)

False

In [129]:
bool(0)

False

## 인덱스와 항목을 같이 출력하기

- enumerate 를 사용한다

In [130]:
for i,v in enumerate([1,2,4,5]) :
    print(f" index {i} = value {v}")

 index 0 = value 1
 index 1 = value 2
 index 2 = value 4
 index 3 = value 5

### 두 개의 리스트의 항목을 쌍으로 만들기

In [131]:
for i in zip(list("abcde"), [1,2,4,5]) :
    print(f" pair {i}")

 pair ('a', 1)
 pair ('b', 2)
 pair ('c', 4)
 pair ('d', 5)

# 2. dict, Set 자료형 

- 키 즉 유일한 값을 가지고 값과 매핑된 자료구조  : map 클래스
- 유일한 값만 가지는 자료구존 : set 클래스

### 리터럴표기법 : 빈 딕셔너리

In [132]:
type({})

dict

### 리터럴표기법 :  빈 집합

- 뮤터블 set과 이뮤터블 frozenset

In [133]:
type(set()), type(frozenset())

(set, frozenset)

### 리터럴표기법 : 원소가 있는 딕셔너리와 집합

In [134]:
{'a':1,'b':2}

{'a': 1, 'b': 2}

In [135]:
# 집합은 아무리 같은 값을 많이 넣어도 중복된 값은 들어가지 않는다.
i = {1,2,3,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4}

In [136]:
# frozen 즉. 변하지 않는 집합으로 만드는 명령어
frozenset([1,2,3,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4])

frozenset({1, 2, 3, 4})

In [8]:
{1,2,3,5}

{1, 2, 3, 5}

### 생성자 표기법 
- 딕셔너리는 키와 값을 쌍으로 가진 튜플을 원소로 하는 리스트를 넣고 생성한다

In [137]:
dict([('a',1),('b',2)])

{'a': 1, 'b': 2}

In [138]:
# 리스트 두개를 만들어서 각 순서에 맞는 순서쌍을 만든다.
[*zip(list("abcde"),[1,2,3,4])]

[('a', 1), ('b', 2), ('c', 3), ('d', 4)]

In [139]:
# iterable(반복형)
# out of memory 오류가 발생할 수 있다.
# iterator(반복자)
for i in zip(['a','b','c','d','e'],[1,2,3,4]) :
    print(i)

('a', 1)
('b', 2)
('c', 3)
('d', 4)

In [140]:
dict(zip(list("abcde"), [1,2,4,5]))

{'a': 1, 'b': 2, 'c': 4, 'd': 5}

In [141]:
dict(enumerate([1,2,4,5]))

{0: 1, 1: 2, 2: 4, 3: 5}

In [142]:
set((1,2,3))

{1, 2, 3}

In [143]:
frozenset([1,2,3])

frozenset({1, 2, 3})

## 연산자 사용하기

- 집합일 경우 집합 연산자로 인식

In [200]:
s = {1,2,3,}; b = {1, 5}

In [201]:
s ^ b

{2, 3, 5}

### 차집합

In [146]:
s-b

{2, 3}

NameError: name 'difference' is not defined

In [147]:
dir(s)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

### 집합은 별도의 연산자 처리 없음

In [148]:
m = { 1:1,2:2}; m1 = {3:3}

In [149]:
try :
    m + m1
except Exception as e :
    print(e)

unsupported operand type(s) for +: 'dict' and 'dict'

## 빈 딕셔너리와 집합 알아보기

In [150]:
ddd = {}

In [151]:
sss = set()

In [152]:
print(type(ddd)); print(type(sss))

<class 'dict'>
<class 'set'>

In [153]:
bool(ddd)

False

In [154]:
bool(sss)

False

# 3. 문자열 메소드

In [155]:
for i in dir(str) :
    print(i, end=", ") if not i.startswith("_") else _

capitalize, casefold, center, count, encode, endswith, expandtabs, find, format, format_map, index, isalnum, isalpha, isascii, isdecimal, isdigit, isidentifier, islower, isnumeric, isprintable, isspace, istitle, isupper, join, ljust, lower, lstrip, maketrans, partition, replace, rfind, rindex, rjust, rpartition, rsplit, rstrip, split, splitlines, startswith, strip, swapcase, title, translate, upper, zfill,

In [212]:
_

'겨울이라'

## 변경

In [206]:
# 특정 문자열을 만나면 x의 값이 y의 값으로 바뀐다. 즉, 새로 지정한 문자열로 바꿔버린다.
"가을이라".replace('을이',"지런하게해")

'가지런하게해라'

In [211]:
# 함수에 리턴값을 지정하지 않으면 'None' 을 보낸다. 하지만 권고사항에 None 값을 반환하지 말자고 되어있다.
def rep(obj,x,y) :
    return str(obj.replace(x,y))

In [210]:
rep("가을이라", "가을", "겨울")

'겨울이라'

## 검색

In [157]:
"겨울이라".startswith("가")

False

In [158]:
"겨울이라".endswith("라")

True

## 분리와 결합

In [159]:
v = "1, 2, 3, 4".split(",")

In [160]:
v

['1', ' 2', ' 3', ' 4']

In [161]:
j = ",".join(v)

In [162]:
j

'1, 2, 3, 4'

# 4. 리스트 메소드

In [163]:
# 리스트는 끝에다가 붙힌다.
# 앞에다가 붙히려면 insert로 넣어준다.
for i in dir(list) :
    print(i, end=", ") if not i.startswith("_") else _

append, clear, copy, count, extend, index, insert, pop, remove, reverse, sort,

In [237]:
ii = []

In [238]:
# insert를 넣어줌으로써 -1번 자리부터 1번을 채워넣는다.
for i in range(1,6) :
    ii.insert(0,i)

In [239]:
ii

[5, 4, 3, 2, 1]

In [240]:
ii = []

In [241]:
# append 를 넣어줌으로써 0번 자리부터 순서대로 1번을 채워넣는다.
for i in range(1,6) :
    ii.append(i)

In [242]:
ii

[1, 2, 3, 4, 5]

In [164]:
tl = set(dir(tuple)) & set(dir(list))

In [165]:
[ x for x in tl if not x.startswith("_") ]

['count', 'index']

In [166]:
ll = [1,2,3]

## 리스트와 튜플 기본 메소드

In [167]:
ll.count(2), ll.index(2)

(1, 1)

## 리스트 내의 메소드

In [168]:
ll.append(10)

In [169]:
ll

[1, 2, 3, 10]

In [170]:
ll.pop()

10

In [171]:
ll.insert(3,999)

In [172]:
ll

[1, 2, 3, 999]

In [173]:
ll.pop(3)

999

In [174]:
ll

[1, 2, 3]

### 다른 리스트를 받아서 하나의 리스트 확장

In [175]:
ll.extend([4,5,6])

In [176]:
ll

[1, 2, 3, 4, 5, 6]

# 5. 딕셔너리 메소드

In [177]:
for i in dir(dict) :
    print(i, end=", ") if not i.startswith("_") else _

clear, copy, fromkeys, get, items, keys, pop, popitem, setdefault, update, values,

In [178]:
dd = {}

In [179]:
dd['a'] = 100

In [180]:
dd_ = dd.fromkeys(['b','c'])

In [181]:
dd_, dd

({'b': None, 'c': None}, {'a': 100})

### 없는 원소 조회 및 갱신

In [182]:
try :
    dd['d']
except Exception as e :
    print(" 예외발생 ",e)

 예외발생  'd'

In [183]:
dd.get('d', "해당키가 없음")

'해당키가 없음'

In [184]:
dd.setdefault('d', "해당키가 없음")

'해당키가 없음'

In [185]:
dd

{'a': 100, 'd': '해당키가 없음'}

### 딕셔너리 확장

In [186]:
dd.update({'c': 100})

In [187]:
dd

{'a': 100, 'd': '해당키가 없음', 'c': 100}

# 6. 집합 메소드

In [188]:
for i in dir(set) :
    print(i, end=", ") if not i.startswith("_") else _

add, clear, copy, difference, difference_update, discard, intersection, intersection_update, isdisjoint, issubset, issuperset, pop, remove, symmetric_difference, symmetric_difference_update, union, update,

In [189]:
sf = set(dir(set)) - set(dir(frozenset))

In [190]:
[ x for x in sf if not x.startswith("_") ]

['remove',
 'discard',
 'pop',
 'update',
 'clear',
 'add',
 'symmetric_difference_update',
 'intersection_update',
 'difference_update']

In [191]:
s1 = {1,4,5}; s2= {4,7,8}

In [192]:
s1.add(9)

In [193]:
s1

{1, 4, 5, 9}

In [194]:
s1.difference(s2)

{1, 5, 9}

In [195]:
s1 - s2

{1, 5, 9}

In [196]:
s1  & s2

{4}

In [197]:
s1.intersection(s2)

{4}

In [198]:
s1 | s2

{1, 4, 5, 7, 8, 9}

In [199]:
s1.union(s2)

{1, 4, 5, 7, 8, 9}

## 문제 : 스택 만들어보기

- S.top(): 스택의 가장 윗 데이터를 반환한다. 만약 스택이 비었다면 이 연산은 정의불가 상태이다.
- S.pop(): 스택의 가장 윗 데이터를 삭제한다. 스택이 비었다면 연산 정의불가 상태.
- S.push(): 스택의 가장 윗 데이터로 top이 가리키는 자리 위에(top = top + 1) 메모리를 생성, 데이터 x를 넣는다.
- S.empty(): 스택이 비었다면 1을 반환하고,그렇지 않다면 0을 반환한다.


후입 선출(後入先出) 또는 LIFO(last in, first out)는 컴퓨터 과학과 대기 이론에서 어떠한 종류의 데이터 구조에 저장되어 있는 항목들이 처리되는 것을 말한다. LIFO 구조화 선형 목록에서, LIFO 요소는 맨 위의 항목만 추가하거나 제거할 수 있다. LIFO 구조는 작은 문을 가진 좁고 둘러싸인 승강기로 예를 들 수 있다. 승강기가 도착지에 다다를 때, 마지막에 탄 사람은 먼저 내려야 한다.

In [313]:
s = []

In [314]:
# insert(0)을 넣는 이유는 0으로 고정을 시켜놔야 push 값이 고정되어 그대로 쌓이게 된다.
s.insert(0,1)

In [315]:
s.insert(0,2)

In [316]:
s

[2, 1]

In [317]:
s.pop()

1

In [318]:
s

[2]

In [397]:
# stack 구조를 하나 만들어준다. 빈 리스트 만들기
class Stack :
    def __init__(self) :
        self.data = []
        
    def push(junseok, value) :
        #0을 고정시켜주고, 들어가는 방향을 지정해준다.
        junseok.data.insert(0,value)
    
    def pop(self) :
        # 마지막에 들어가는 숫자를 빼기위해 0을 지정해준다.
        self.data.pop(0)
        
    def top(self) :
        return self.data[0]
    
    def empty(self) :
        # 파이썬은 true false 가 0 or 1이 될 수 있다.
        return int(not(len(self.data) > 0))

In [398]:
s = Stack()

In [399]:
s.push(1); s.push(2)

In [400]:
s.__dict__

{'data': [2, 1]}

In [401]:
s.pop()

In [402]:
s.__dict__

{'data': [1]}

In [403]:
s.top()

1

In [404]:
s.__dict__

{'data': [1]}

In [405]:
s.empty()

0

## 문제 : 큐 만들어보기

- 큐는 put(insert)와 get(delete)을 이용하여 구현된다. 

선입 선출(先入先出, first in, first out, 줄여서 FIFO)은 시간과 우선 순위와 관련된 데이터를 정리하고 이용하는 방식을 줄여 말하는 것이다. 이러한 표현은 선입선처리 행위에 따라 순서대로 처리함으로써 기술을 처리하거나 수요 충돌을 관리하는 대기의 원칙을 말한다. 다시 말해, 먼저 온 것은 먼저 처리되고, 처리가 끝날 때까지 다음 것은 대기 상태에 놓이게 된다.

In [302]:
s = []

In [303]:
s.insert(0,1); s.insert(0,2)

In [304]:
s

[2, 1]

In [305]:
# inster로 넣은 값에 pop() 안에 순서를 지정해주지 않고, 사용하면 젤 먼저 들어갔던게 빠지게 된다.
s.pop()

1

In [306]:
s

[2]