## Wordcloud를 하기 위한 준비 단계

jdk 무료버전 설치
 자바 다운로드 링크 https://www.oracle.com/java/technologies/javase-downloads.html
 가입 후 jdk-8u202 버전 windows 또는 macOS 버전 받아 설치 
 내 pc 우측 마우스 클릭 --> 속성 --> 고급 시스템 설정 -->  환경 변수 --> 시스템 변수에서 새로 만들기 --> 
 변수 이름 : JAVA_HOME
 변수 값 : 자바 설치한 디렉션 복사하여 붙여 넣기 예) C:\Program Files\Java\jdk1.8.0_202\bin
 위의 값을 입력하고 모두 확인을 눌러서 나가기
 
jpype 설치
 아나콘다 프롬프트 관리자 권한으로 열어 pip install jpype1==1.1.2 또는 jpype1==0.7.0 설치

konlpy와 wordcloud 설치
 주피터 노트북에서 설치
 pip install konlpy,
 pip install wordcloud

simplejson과 pytagcloud 설치
 아나콘다 프롬프트에서 설치
 pip install simplejson,
 pip install pytagcloud,
 pip install pygame

네이버에서 나눔고딕 다운을 받는다.

본인 컴퓨터에 설치된 pytagcloud폴더의 fonts 폴더로 NanumGothic.ttf 파일을 옮긴다.  
예) C:\Users\USER\Anaconda3\Lib\site-packages\pytagcloud\fonts

폴더 안에 있는 fonts.json 파일을 연결프로그램을 눌러 메모장으로 연다.
아래와 같이 name에 korean, ttf에 NanumGothic.ttf, web에 http://fonts.googleapis.com/earlyaccess/nanumgothic.css 를 적어 저장한다.
![나눔고딕](나눔고딕.jpg)

자바 다운로드 링크 https://www.oracle.com/java/technologies/javase-downloads.html

Jpype 다운로드 링크 https://www.lfd.uci.edu/~gohlke/pythonlibs/#jpype

In [1]:
from bs4 import BeautifulSoup 
import urllib.request 
from urllib.request import urlopen
from urllib.parse import quote
import pytagcloud
import re

from konlpy.tag import Okt
from collections import Counter

import matplotlib.pyplot as plt
import matplotlib.image as mpimg
%matplotlib inline

pygame 2.0.1 (SDL 2.0.14, Python 3.7.3)
Hello from the pygame community. https://www.pygame.org/contribute.html

Wordcloud 할 링크 2개
 1. 중앙일보 : 'https://news.joins.com/search/?keyword='
 2. 동아닷컴 : https://www.donga.com/news/search?query="

## Test 1차

캐글 타이타닉 파일 다운로드 링크 https://www.kaggle.com/c/titanic/data

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns

import math
import matplotlib.pyplot as plt
%matplotlib inline

import warnings ; warnings.filterwarnings('ignore')

1. 다운 받은 train 데이터를 아래와 같이 불러오고 index를 PassengerId로 변경하세요.
![문제1](문제1.jpg)

In [ ]:
# code를 작성하세요.

2. 다운 받은 test 데이터를 아래와 같이 불러오고 index를 PassengerId로 변경하세요.
![문제2](문제2.jpg)

In [ ]:
# code를 작성하세요.

3. train 데이터를 활용해 아래와 같은 dataframe을 도출해보세요. Survived는 생존자는 1, 사망자는 0 입니다. 따라서 Survived의 mean값은
   생존율로 볼 수 있습니다.
![문제3](문제3.jpg)

In [ ]:
# code를 작성하세요.

4. countplot을 사용하여 아래와 같은 그래프를 도출해보세요. Pclass의 1은 1등석, 2는 2등석, 3은 3등석입니다. 보시는대로 1등석이 다른 등석
   보다 높은 생존율을 보입니다. y축의 count는 총 수기 때문에 Pclass 별 총 생존수와 총 사망자수로 볼 수 있습니다.
![문제4](문제4.jpg)

In [ ]:
# code를 작성하세요.

5. pivot table을 사용하여 아래와 같은 dataframe을 만들어보세요. C,Q,S는 타이타닉이 경유한 항구의 앞글자이며 승객들은 해당되는 항구에서 
   타이타닉을 탔습니다. C항구에서 탄 사람들이 높은 생존율을 보입니다.
![문제5](문제5.jpg)

In [ ]:
# code를 작성하세요.

6. Countplot을 활용하여 아래 그래프를 도출해보세요.
![문제6](문제6.jpg)

In [ ]:
# code를 작성하세요.

7. groupby를 사용하여 아래와 같은 Series를 만들어보세요.
![문제7](문제7.jpg)

In [ ]:
# code를 작성하세요.

8. AgeType이라는 컬럼을 만들어 봅시다. 15세 미만은 young, 15세 이상 30세 미만은 middle, 30세 이상은 old로 정합니다.
   아래와 같은 dataframe을 도출해보세요.
![문제8](문제8.jpg)

In [ ]:
# code를 작성하세요.

9. 아래와 같은 그래프를 도출해보세요.
![문제9](문제9.jpg)

In [ ]:
# code를 작성하세요.

10. 나이를 모르는 사람과 나이가 알려진 사람을 구별하는 컬럼을 만들어 봅시다. Age에 나이가 입력되지 않은 조건은 isnull()과 notnull()을 
    사용하여 보다 편하게 전처리할 수 있습니다. 아래와 같은 dataframe을 도출해보세요.
![문제10](문제10.jpg)

In [ ]:
# code를 작성하세요.

11. 아래와 같은 그래프를 도출해보세요. 나이가 기록된 사람들의 생존율이 높은 것을 알 수 있습니다.
![문제11](문제11.jpg)

In [ ]:
# code를 작성하세요.

12. Pclass 별 평균 나이의 dataframe을 구해보세요.
![문제12](문제12.jpg)

In [ ]:
# code를 작성하세요.

13. Age(All) 컬럼을 만들어 보겠습니다. 나이가 기록된 사람은 같은 나이를 입력하시고 나이가 기록 안된 사람은 Pclass 별 평균 나이를
    입력해 봅시다. 아래와 같은 dataframe을 도출해보세요.
![문제13](문제13.jpg)

In [ ]:
# code를 작성하세요.

14. 타이타닉 승객 중 혼자 탄 사람을 나타내는 single 컬럼을 만들어 봅시다. SibSp는 배우자와 자녀의 총 수를 나타내며 Parch는 부모의 수를 
    뜻합니다. SibSp와 Parch가 모두 0인 사람이 타이타닉에 혼자 승선한 승객입니다. 혼자 승선했을 경우 1이라 입력하고 아닐 경우 0으로
    입력합시다. 아래와 같은 dataframe을 도출해 보세요.
    
![문제14](문제14.jpg)

In [ ]:
# code를 작성하세요.

15. 아래와 같은 그래프를 도출해보세요. 혼자 승선한 승객의 사망율이 높은 것을 알 수 있습니다.
![문제15](문제15.jpg)

In [ ]:
# code를 작성하세요.

16. SibSp와 Parch을 합친 총 가족수 컬럼을 만들어 봅시다. 컬럼 이름은 Family로 하겠습니다. SibSp + Parch + 1을 하여 승객 본인도 포함시켜
    총 수를 입력합시다. pivot table을 활용하여 아래와 같은 dataframe을 도출해보세요.
![문제16](문제16.jpg)

In [ ]:
# code를 작성하세요.

17. 아래와 같은 그래프를 도출해보세요. family 수는 2~4 사이일 때 가장 생존율이 높은 것으로 보입니다.
![문제17](문제17.jpg)

In [ ]:
# code를 작성하세요.

18. Family 컬럼을 참고하여 수자의 크기에 따라 single, small, big으로 분류하는 FamilySize 컬럼을 만들어 봅시다. Family가 1일 때는 single,
    1보다 크고 5보다 작을 땐 small, 5이상일 땐 big을 입력합니다. pivot table을 활용하여 아래 dataframe을 도출해 보세요.
![문제18](문제18.jpg)

In [ ]:
# code를 작성하세요.

19. 아래와 같은 그래프를 도출해보세요.
![문제19](문제19.jpg)

In [ ]:
# code를 작성하세요.

20. pivot table을 활용하여 아래와 같은 dataframe을 만들어 보세요. 여성이 매우 높은 생존율을 보이는 걸 알 수 있습니다.
![문제20](문제20.jpg)

In [ ]:
# code를 작성하세요.

21. 아래와 같은 그래프를 도출해보세요.
![문제21](문제21.jpg)

In [ ]:
# code를 작성하세요.

22. Sex 컬럼의 male과 female은 머신러닝 학습 데이터로는 적합하지 않습니다. 적합하도록 새로운 Sex_number라는 새로운 컬럼을 만들어 봅시다.
    male은 0, female은 1로 입력합시다. 아래와 같은 dataframe을 도출해 보세요.
![문제22](문제22.jpg)

In [ ]:
# code를 작성하세요.

23. 남성과 여성의 생존율 차이가 극명합니다. 좀더 디테일하게 확인해 봅시다. Titles 컬럼을 만들어 Mr, Miss, Mrs, Master로 분류해 봅시다.
    Master는 당시에 결혼하지 않은 남성에게 붙이는 호칭이었습니다. .str.contains을 사용하면 문자열에서 특정 문자열이 포함 유무를 확인
    할 수 있으니 사용하여 새로운 컬럼을 만들어 봅시다. 아래와 같은 dataframe을 도출해 보세요.
![문제23](문제23.jpg)

In [ ]:
# code를 작성하세요.

24. 아래와 같은 그래프를 작성해보세요. 남성 중에선 Mr보다 Master의 생존율이 높게 나옵니다. 
![문제24](문제24.jpg)

In [ ]:
# code를 작성하세요.

## 수고하셨습니다!